/* BUTTON SYSTEM */

.btn,
.btn-connect {
  background: linear-gradient(#444, #222);
  border: 2px solid #666;
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;

  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover,
.btn-connect:hover {
  background: linear-gradient(#555, #333);
}

.btn-create {
  background: linear-gradient(#6cff61, #2fa52a);
  border: 2px solid #1b6e18;
  color: #000;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.btn:active {
  transform: translateY(1px);
  border-color: #888;
  background: linear-gradient(#222, #111);
}